.blackjack-container {
  width: 100%;
  height: auto;
}

.blackjack-title {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blackjack-playground {
  width: 100%;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("./blackjack_assets/images/tableBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row1 {
  display: flex;
  flex: 1;
  color: white;
  font-size: 25px;
}

#you-player {
  border-right: 2px solid black;
  flex-basis: 50%;
  padding-top: 15px;
  flex-wrap: wrap;
}
#dealer-player {
  /* border-right: 1px solid black; */
  flex-basis: 50%;
  padding-top: 15px;
  flex-wrap: wrap;
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  border-top: 2px solid black;
}

.starter {
  width: 60px;
  height: auto;
  padding: 8px;
  margin-right: 15px;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.3s ease;
}

#blackjack-hit {
  background-color: blue;
}

#blackjack-stand {
  background-color: orange;
}

#blackjack-dealer {
  background-color: red;
}

.starter:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.blackjack-result {
  padding-top: 10px;
  padding-bottom: 10px;
}

.blackjack-score {
  margin: 0 auto;
  text-align: center;
}

table,
th,
td {
  border: 0.5px solid black;
  border-collapse: collapse;
  margin: 0;
  padding: 10px;
}

#you-player > img,
#dealer-player > img {
  width: 75px;
  height: 150px;
  padding: 15px;
}
