body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 60%;
  height: auto;
  border: 1px solid gray;
}

#page-title {
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  width: 100%;
  height: 100%;
}

.age-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  background-color: whitesmoke;
}

.age-title {
  text-align: center;
  flex-basis: 40%;
  padding-left: 20px;
  padding-right: 20px;
}

.age-content {
  flex-basis: 60%;
  align-self: flex-start;
  border-left: 1px solid gray;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#age-form {
  font-size: 20px;
  padding-bottom: 10px;
}

.box-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit-age,
.reset-age,
.gen-cats {
  margin-right: 25px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  transition: 0.3s ease;
}

.submit-age:hover,
.reset-age:hover,
.gen-cats:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.submit-age {
  width: 100px;
  background-color: navy;
}
.reset-age {
  width: 100px;
  background-color: red;
}

#age-days,
#age-months,
#age-years {
  width: 50px;
  background-color: #7fff00;
  color: white;
  padding: 5px;
}

.gen-cats {
  width: 150px;
  background-color: navy;
}

#cats-result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 335px;
  background-color: white;
}

.cat-container-title,
.rps-container-title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  background-color: lightpink;
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cats-item {
  margin: 20px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.rps-container {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  background-color: whitesmoke;
}

#rps-items-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.rps-item {
  object-fit: contain;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 8px 2px gray;
  transition: 0.3s ease;
}

.rps-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.win {
  color: green;
}

.fail {
  color: red;
}
.tie {
  color: yellow;
}
